// Layouts
$black-100: #000000;

$background: #c7d0cc;

$header-theme-1: #e1e1e1;

$sidebar-theme-1: #9b9b9d;

$progress-bar-background: #e3e3e3;
$progress-bar-block: #859f9a;

$question-box-background: #dddddd;

$answer-button-background: #6c7a74;
$answer-button-text: #e3e3e3;
